@tailwind base;
@tailwind components;
@tailwind utilities;

.font-sunflower {
    font-family: sunflower;
}

.font-butler {
    font-family: Butler;
}

.circle-gradient {

    background: rgb(242,144,126);
    background: linear-gradient(315deg, rgba(242,144,126,1) 0%, rgba(246,174,161,1) 32%, rgba(251,217,211,1) 66%, rgba(255,255,255,1) 100%);
}


/*.text-red-200 {*/
/*    color: rgb(254 202 202); !* Giá trị chính xác của red-200 *!*/
/*}*/
/*#root {*/
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  /*text-align: center;*/
/*}*/lato

/*.logo {*/
/*  height: 6em;*/
/*  padding: 1.5em;*/
/*  will-change: filter;*/
/*  transition: filter 300ms;*/
/*}*/
/*.logo:hover {*/
/*  filter: drop-shadow(0 0 2em #646cffaa);*/
/*}*/
/*.logo.react:hover {*/
/*  filter: drop-shadow(0 0 2em #61dafbaa);*/
/*}*/

/*@keyframes logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  a:nth-of-type(2) .logo {*/
/*    animation: logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.card {*/
/*  padding: 2em;*/
/*}*/

/*.read-the-docs {*/
/*  color: #888;*/
/*}*/
