/* import Tailwind*/
@import "tailwindcss";

/* setup font */
.font-sunflower {
    font-family: sunflower;
}

.font-encode-sans {
    font-family: "Encode Sans", sans-serif;
}

.font-butler {
    font-family: Butler;
}

/* Setup tailwind */
@theme {
    /* color */
    --color-primary: #FAF9F5;
    --color-secondary: #F5F4ED;
    --color-primary-dark: #505050;
    --color-secondary-dark: #A4A3A2;
    --color-pink-light: #EAA58D;


    /* font */
    --font-encode: 'Encode Sans Expanded', sans-serif;
    --font-baloo: 'Baloo Tamma 2', sans-serif;
    --font-elsie: 'Elsie', serif;
    --font-playfair: 'Playfair', serif;
}

@layer base {
    * {
        @apply [&::-webkit-scrollbar]:w-2
        [&::-webkit-scrollbar-track]:rounded-full
        [&::-webkit-scrollbar-track]:bg-gray-100
        [&::-webkit-scrollbar-thumb]:rounded-full
        [&::-webkit-scrollbar-thumb]:bg-gray-300
        dark:[&::-webkit-scrollbar-track]:bg-neutral-700
        dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500;
    }
}

@layer utilities {
    .circle-gradient {
        background: rgb(242,144,126);
        background: linear-gradient(315deg, rgba(242,144,126,1) 0%, rgba(246,174,161,1) 32%, rgba(251,217,211,1) 66%, rgba(255,255,255,1) 100%);
    }

    .shadow-primary {
        --tw-shadow: 10px 10px 25px #d7dadd, -10px -10px 25px #fff;
        --tw-shadow-colored: 10px 10px 25px var(--tw-shadow-color), -10px -10px 25px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
    }
}

